<div style="text-align: center">
	<h1>Reporting Partners</h1>
</div>
<div id="ctlPanel" style="text-align: left">
	<button pButton type="button" (click)="reload()" icon="fa-check"
		label="Reload"></button>
	<button pButton type="button" (click)="newPartner()" icon="fa-check"
		label="New"></button>
</div>
<div id="dataTable">
	<p-dataTable #dt [value]="rows" [editable]="true"> 
	<p-column
		field="PartnerId" header="PartnerId" [filter]="true"
		[filterMatchMode]="contains" [editable]="true" [sortable]="true">
		</p-column> 
		<p-column field="status" header="status" [editable]="true">
		</p-column>
		<p-column field="PartnerInow.EntityName" header="EntityName" [editable]="true">
		</p-column>
	<p-footer>
	<div class="ui-helper-clearfix">
		<button type="button" pButton icon="fa-file-o" iconPos="left"
			label="Export" (click)="dt.exportCSV()" style="float: left"></button>
		<button pButton type="button" (click)="saveChanges()"
			style="float: right" icon="fa-check" [disabled]="!isModified"
			label="Save"></button>
	</div>
	</p-footer> </p-dataTable>
</div>
