<div style="text-align: center">
	<h1>Parsers</h1>
</div>
<div id="parserList" *ngIf='!isEditMode'>
	<p-dataTable [value]="parserList" selectionMode="single"
		(onRowSelect)="!onRowSelect($event)" [(selection)]="selectedParser"
		[paginator]="true" rows="50" [responsive]="true"> <p-column
		field="Name" header="Parser Type" [sortable]="true"></p-column> <p-column
		field="Type" header="Data Type" [sortable]="true"></p-column> <p-column
		field="PartnerInow.EntityName" header="Partner Name" [sortable]="true"></p-column>
	<p-footer>
	<div class="ui-helper-clearfix" style="width: 100%">
		<button type="button" pButton icon="fa-plus" style="float: left"
			label="Add"></button>
	</div>
	</p-footer> </p-dataTable>
</div>
<div id="parser" *ngIf='isEditMode'>
	<p-dataTable [tableStyle]="{'table-layout':'auto'}" [value]="data" selectionMode="single" [paginator]="true"
		rows="10" [responsive]="true">
	<p-header> 
		<p-toolbar>
			<div class="ui-toolbar-group-left">
				<label for="dataType">Data Type</label>
				<p-dropdown [options]="dataTypes" id="dataType"
					[(ngModel)]="selectedDatatype" [style]="{'width':'150px'}"
					placeholder="Select a file type" filter="true"></p-dropdown>
				<label for="lineCnt">Header Line Cnt</label>
				<p-spinner size="30" id="lineCnt" style="{'width':'15px'}"
					[(ngModel)]="headLineCnt" [min]="0" [max]="100"></p-spinner>
			</div>
			<div class="ui-toolbar-group-right">
		
				<p-fileUpload name="myfile[]" customUpload="true" mode="basic"
					auto="true" (uploadHandler)="onUpload($event)"
					[styleClass]="ui-button"></p-fileUpload>
			</div>
		</p-toolbar> 
	</p-header> 
	<p-column *ngFor="let col of cols" [field]="col.fileColValue"  
		[header]="col.fileColValue" >
		
  <ng-template  pTemplate="header"  let-myItem="rowData">    
		<p-menubar [model]="items"></p-menubar>
  </ng-template>
  
		</p-column> <!-- <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="newPartner()" label="Add"></button></div></p-footer> -->
	</p-dataTable>
</div>

