<div style="text-align: center">
	<h1>Parsers</h1>
</div>	<!-- 
<div id="ctlPanel" style="text-align: left">

	(onRowSelect)="onRowSelect($event)"  
	
</div>
	 -->
<p-dataTable [value]="data" selectionMode="single" [(selection)]="selectedParser" [paginator]="true" rows="50" [responsive]="true">
    <p-column field="Name" header="Parser Type" [sortable]="true"></p-column>
    <p-column field="Type" header="Data Type" [sortable]="true" ></p-column>
    <p-column field="PartnerInow.EntityName" header="Partner Name" [sortable]="true"></p-column>
    <!-- <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="newPartner()" label="Add"></button></div></p-footer> -->
</p-dataTable>

